<?xml version="1.0"?>

<model>
  <name>Red BAll</name>
  <version>1.0</version>
    <sdf version="1.5">model.sdf</sdf>

  <author>
    <name></name>
    <email></email>
  </author>

  <author>
    <name></name>
    <email></email>
  </author>

  <description>
    A model of a red ball
  </description>

</model>
