<?xml version="1.0"?>

<model>
  <name>flyingKinect2</name>
  <version>2.0</version>
  <sdf>model.sdf</sdf>

  <author>
    <name>Victor Arribas</name>
    <email>v.arribas.urjc@gmail.com</email>
  </author>

  <description>
    The JdeRobot wrapper for kinect model with mobility capabilities.
  </description>
</model>
