Calibrator.Camera.Proxy=cameraB:tcp -h 0.0.0.0 -p 9999
#Calibrator.Camera.FileOut=./config-example/cam-out
Calibrator.World.File=./config-example/calib-world

#Extrinsics, position
Calibrator.Config.Position.X=163
Calibrator.Config.Position.Y=115
Calibrator.Config.Position.Z=286
Calibrator.Config.Position.H=1.000000

#Extrinsics, orientation
Calibrator.Config.FOAPosition.X=896
Calibrator.Config.FOAPosition.Y=110
Calibrator.Config.FOAPosition.Z=286
Calibrator.Config.FOAPosition.H=1.000000

#Intrinsics
Calibrator.Config.Fx=277.0
Calibrator.Config.Fy=277.0
Calibrator.Config.Skew=0.0
Calibrator.Config.U0=120.0
Calibrator.Config.V0=160.0
Calibrator.Config.Columns=320
Calibrator.Config.Rows=240
Calibrator.Config.Roll=0.00

