CMakeCache.txt
CMakeFiles/
*.cmake
*.a
*.so
*.cxx
*.cxx_parameters
lib*.so.*
Makefile
src/interfaces/cpp/
src/interfaces/java/
src/interfaces/python/
!src/interfaces/python/JdeRobotKids.py

*.qrc.depends

.dpkg_pkgs/


# Python
__pycache__/
*.py[cod]
/build/
.vscode/

src/tools/colorTuner_py/build/
