CMakeCache.txt
CMakeFiles/
*.cmake
*.a
*.so
*.cxx
*.cxx_parameters
lib*.so.*
Makefile
src/interfaces/cpp/
src/interfaces/java/
src/interfaces/python/

*.qrc.depends

.dpkg_pkgs/


# Python
__pycache__/
*.py[cod]
