<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="player.teleoperator" android:versionCode="1" android:versionName="1.0"
      android:installLocation="auto">
	<uses-sdk android:minSdkVersion="7" />
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".Teleoperator" android:label="@string/app_name" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity android:name="Connect" android:label="@string/connect_head" android:screenOrientation="landscape"></activity>
        <activity android:name="TeleoperatorArrows" android:label="@string/arrows_head" android:screenOrientation="landscape"></activity>
        <activity android:name="TeleoperatorAccel" android:label="@string/accel_head" android:screenOrientation="landscape"></activity>
        <activity android:name="TeleoperatorJoystick" android:label="@string/joystick_head" android:screenOrientation="landscape"></activity>
        <activity android:name="Simulation" android:label="@string/simulation_head" android:screenOrientation="landscape"></activity>

    </application>
    
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>


</manifest> 