<?xml version="1.0"?>

<model>
  <name>F1 Renault</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Francisco Perez</name>
    <email>f.perez475@gmail.com</email>
  </author>

  <description>
    F1 robot. Model by 3dregenerator (https://free3d.com/3d-model/redbull-f1-66214.html)
  </description>
</model>
