<?xml version="1.0"?>
<model>
  <name>amazon_warehouse_robot</name>
  <version>1.0</version>
  <sdf version='1.4'>model.sdf</sdf>

  <author>
   <name>Arsalan Akhter</name>
   <email>arsalanakhter.wpi@gmail.com</email>
  </author>

  <description>
    This is a basic robot to be used as an Amazon Warehouse Robot. It is supposed to go under a cabinet/rack, rotate, and pick up the rack.
  </description>
</model>
