# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Autosaved files
*~

# IDEs
CMakeLists.txt.user
.project
.cproject
.settings
.pydevproject

# ROS
bin
build
lib
msg_gen
srv_gen
Makefile
CMakeCache.txt
cmake
cmake_install.cmake
gtest
catkin_generated
devel
test_results
CTestTestfile.cmake
CMakeFiles
catkin
