#without registry
openniServer.Endpoints=default -h 0.0.0.0 -p 9999:ws -h 0.0.0.0 -p 11000
#with registry
#cameras configuration
openniServer.PlayerDetection=0
openniServer.Mode=0
openniServer.ImageRegistration=1
openniServer.Hz=20


NamingService.Enabled=0
NamingService.Proxy=NamingServiceJdeRobot:default -h 0.0.0.0 -p 10000

#mode=0 -> fps: 30x: 320y 240
#mode=2 -> fps: 60x: 320y 240
#mode=4 -> fps: 30x: 640y 480
#mode=6 -> fps: 25x: 320y 240
#mode=8 -> fps: 25x: 640y 480

#camera 1
openniServer.deviceId=0
openniServer.CameraRGB.Name=cameraA
openniServer.CameraRGB.Format=RGB8
openniServer.CameraRGB.fps=25
openniServer.CameraRGB.PlayerDetection=0
openniServer.CameraRGB.Mirror=0
#must be consistent with the mode
openniServer.CameraRGB.ImageWidth=320     
openniServer.CameraRGB.ImageHeight240


#openniServer.calibration=camera-0.cfg
openniServer.CameraDEPTH.Name=cameraB
openniServer.CameraDEPTH.Format=DEPTH8_16
openniServer.CameraDEPTH.fps=100
openniServer.CameraDEPTH.PlayerDetection=0
openniServer.CameraDEPTH.Mirror=0
#must be consistent with the mode
openniServer.CameraDEPTH.ImageWidth=320     
openniServer.CameraDEPTH.ImageHeight240


openniServer.PointCloud.Name=pointcloud1
openniServer.pointCloud.Fps=15



#Other components
openniServer.CameraRGB=1
openniServer.CameraIR=0
openniServer.CameraDEPTH=1
openniServer.pointCloudActive=0
openniServer.Pose3DMotorsActive=0
openniServer.KinectLedsActive=0
openniServer.ExtraCalibration=0
openniServer.Debug=1
openniServer.Fps=20


# Levels: 0(DEBUG), 1(INFO), 2(WARNING), 3(ERROR)

openniServer.Log.File.Name=./log/openniServer.txt
openniServer.Log.File.Level=0
openniServer.Log.Screen.Level=0

