<?xml version="1.0"?>
<model>
    <name>Nao Robot</name>
    <version>1.0</version>
    <sdf version='1.3'>model.sdf</sdf>

    <author>
        <name>Borja Menendez Moreno</name>
        <email>b.menendez.moreno@gmail.com</email>
    </author>

    <description>
        A model of the Nao robot from Aldebaran Robotics.
    </description>
</model>
