##without registry
CameraSrv.Endpoints=default -h localhost -p 9997

# client/server mode
CameraSrv.DefaultMode=1

#cameras configuration
CameraSrv.NCameras=2

#camera 0
CameraSrv.Camera.0.Name=cameraA
CameraSrv.Camera.0.ShortDescription=Camera pluged to videotest://0
CameraSrv.Camera.0.Uri=0
CameraSrv.Camera.0.FramerateN=15
CameraSrv.Camera.0.FramerateD=1
CameraSrv.Camera.0.ImageWidth=320
CameraSrv.Camera.0.ImageHeight=240
CameraSrv.Camera.0.Invert=False

#camera 1
CameraSrv.Camera.1.Name=Camera
CameraSrv.Camera.1.ShortDescription=Camera pluged to videotest://1
CameraSrv.Camera.1.Uri=1
CameraSrv.Camera.1.FramerateN=15
CameraSrv.Camera.1.FramerateD=1
CameraSrv.Camera.1.ImageWidth=512
CameraSrv.Camera.1.ImageHeight=384
CameraSrv.Camera.1.Format=RGB8
CameraSrv.Camera.1.Invert=False