<?xml version="1.0"?>

<model>
  <name>Nurburgrin</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Pablo Moreno</name>
    <email>pablomvera14@gmail.com</email>
  </author>

  <description>
    The F1 Nurburgrin track without elevations and with a red line.
  </description>
</model>
