<?xml version="1.0"?>

<model>
  <name>Monaco flat</name>
  <version>1.0</version>
  <sdf version='1.5'>model.sdf</sdf>

  <author>
    <name>Alvaro Villamil</name>
    <email>a.villamil@hotmail.com</email>
  </author>

  <description>
    The F1 Monaco track without elevations.
  </description>
</model>
