<?xml version="1.0"?>

<model>
  <name>warehouse_walls</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Maurice Fallon</name>
    <email>mauricefallon@gmail.com</email>
    <name>Arsalan Akhter</name>
    <email>arsalanakhter.wpi@gmail.com</email>
  </author>

  <description>
    The grey_wall model in Gazebo has been modified to create three walls for the warehouse.
  </description>

</model>
